In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random, os
import cv2
import plotly.express    as px

from io import BytesIO
from zipfile import ZipFile
from PIL import Image
from tqdm import tqdm

# load train data

In [2]:
train_df = pd.read_csv('ISICmerge2019_2020_remove_dup_img.csv')
print(train_df.shape)
train_df.head()

(57729, 8)

,image_id,patient_id,target,source,sex,age_approx,benign_malignant,anatom_site_general_challenge
0,ISIC_2637011.jpg,IP_7279968,unknown,ISIC2020,male,45.0,benign,head/neck
1,ISIC_0015719.jpg,IP_3075186,unknown,ISIC2020,female,45.0,benign,upper extremity
2,ISIC_0052212.jpg,IP_2842074,nevus,ISIC2020,female,50.0,benign,lower extremity
3,ISIC_0068279.jpg,IP_6890425,unknown,ISIC2020,female,45.0,benign,head/neck
4,ISIC_0074268.jpg,IP_8723313,unknown,ISIC2020,female,55.0,benign,upper extremity

# load test data

In [3]:
test_2019_df = pd.read_csv('../data/ISIC_2019_Test_Metadata.csv')
print(test_2019_df.shape)
# add source column
test_2019_df['source'] = 'ISIC2019'
test_2019_df.head()

(8238, 4)

          image  age_approx anatom_site_general     sex    source
0  ISIC_0034321        60.0                 NaN  female  ISIC2019
1  ISIC_0034322        70.0      anterior torso    male  ISIC2019
2  ISIC_0034323        70.0     lower extremity    male  ISIC2019
3  ISIC_0034324        70.0     lower extremity    male  ISIC2019
4  ISIC_0034325        30.0     upper extremity  female  ISIC2019

In [4]:
test_2020_df = pd.read_csv('../data/ISIC_2020_Test_Metadata.csv')
print(test_2020_df.shape)
# add source column
test_2020_df['source'] = 'ISIC2020'
test_2020_df.head()

(10982, 5)

          image     patient  age_approx anatom_site_general     sex    source
0  ISIC_0052060  IP_3579794          70                 NaN    male  ISIC2020
1  ISIC_0052349  IP_7782715          40     lower extremity    male  ISIC2020
2  ISIC_0058510  IP_7960270          55               torso  female  ISIC2020
3  ISIC_0073313  IP_6375035          50               torso  female  ISIC2020
4  ISIC_0073502  IP_0589375          45     lower extremity  female  ISIC2020

# merge Test data

In [6]:
test_df = pd.concat([test_2020_df,test_2019_df], axis = 0)
test_df.shape

(19220, 6)